bpp-validation/.classpath
bpp-validation/.project
bpp-validation/.settings/org.eclipse.jdt.core.prefs
bpp-validation/.settings/org.maven.ide.eclipse.prefs
bpp-validation/.springBeans
bpp-validation/target